@import "tailwindcss";

*{
    font-family: "Poppins", sans-serif;
}

.project-container, .fileContainer, .editor-container, .taskContainer, .messageContainer, .taskContainer{
    scrollbar-width: none;
}

header .active{
    color: rgb(104, 7, 104);
}